<div class="navbar-beaco navbar-beaco-fixed">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-beaco-brand" do %>
    <%= image_tag "logo_small_bl.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-beaco-right hidden-xs hidden-sm">

<!-- Navbar menu -->
    <!-- About link -->
  <div class="click-about">
    <%= link_to "ABOUT", root_path(:anchor => "#"), class: "navbar-beaco-link" %>
  </div>
  <!-- Our Story link -->
    <%= link_to "OUR STORY", root_path(:anchor => "#"), class: "navbar-beaco-link" %>
    <!-- Services link -->
    <%= link_to "SERVICES", root_path(:anchor => "#"), class: "navbar-beaco-link" %>
    <!-- Our Team link -->
    <%= link_to "OUR TEAM", root_path(:anchor => "#"), class: "navbar-beaco-link" %>
    <!-- Happy People link -->
    <%= link_to "HAPPY PEOPLE", root_path(:anchor => "#"), class: "navbar-beaco-link" %>
    <!-- Chaperones link -->
    <%= link_to "CHAPERONES", "#", class: "navbar-beaco-link" %>  

    <!-- Contact link -->
    <%= link_to "CONTACT", root_path(:anchor => "#"), class: "navbar-beaco-link" %>    
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-beaco-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle-white" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right .navbar-beaco-dropdown-menu">
        <li><%= link_to "ABOUT", root_path(:anchor => "#") %></li>  
        <li><%= link_to "OUR STORY", root_path(:anchor => "#") %></li>  
        <li><%= link_to "BLOG", "#" %></li>  
        <li><%= link_to "SERVICES", root_path(:anchor => "#") %></li>  
        <li><%= link_to "OUR TEAM", root_path(:anchor => "#") %></li>  
        <li><%= link_to "HAPPY PEOPLE", root_path(:anchor => "#") %></li>
        <li><%= link_to "CHAPERONES", "#" %></li>  
        <li><%= link_to "CONTACT", root_path(:anchor => "#") %></li>
      </ul>
    </div>
  </div>
</div>


