<div class="navbar-bms-homepage navbar-bms-fixed">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-bms-brand-homepage" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- main Navigation -->
  <div class="navbar-bms-main-homepage hidden-xs hidden-sm">

<!-- Navbar menu -->
    <!-- About Us link -->
    <%= link_to "ABOUT US", about_path, class: "navbar-bms-link" %>
    <!-- Products link -->
    <%= link_to "PRODUCTS", products_path(:anchor => "products"), class: "navbar-bms-link" %>
    <!-- Services link -->
    <%= link_to "SERVICES", services_path, class: "navbar-bms-link" %>
    <!-- The Team link -->
    <%= link_to "THE TEAM", team_path(:anchor => "team"), class: "navbar-bms-link" %>
    <!-- Contact link -->
    <%= link_to "CONTACT", contact_path, class: "navbar-bms-link" %>
  </div>
  <!-- Social links -->
    <div class="social-links-homepage hidden-xs hidden-sm">
      <p><%= link_to "FACEBOOK", "https://www.facebook.com/", class: "social-link" %></p>
      <p><%= link_to "TWITTER", "https://www.twitter.com/", class: "social-link" %></p> 
    </div>  

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-bms-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle-white" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-main .navbar-bms-dropdown-menu">
        <li><%= link_to "ABOUT US", about_path, class: "navbar-bms-link" %></li>  
        <li><%= link_to "PRODUCTS", products_path, class: "navbar-bms-link" %></li>  
        <li><%= link_to "SERVICES", services_path, class: "navbar-bms-link" %></li>  
        <li><%= link_to "THE TEAM", team_path, class: "navbar-bms-link" %></li>  
        <li><%= link_to "CONTACT", contact_path, class: "navbar-bms-link" %></li>
        <li><%= link_to "FACEBOOK", "https://www.facebook.com/" %></li>  
        <li><%= link_to "TWITTER", "https://www.twitter.com/" %></li>
      </ul>
    </div>
  </div>
</div>


