<%= render 'shared/navbar_general' %>

<div class="banner hidden"	style="background-image: url('http://res.cloudinary.com/dv9bpfme2/image/upload/v1480586272/bms-about-2_nitknn.jpg');">
</div>
<div class="banner hidden"	style="background-image: url('http://res.cloudinary.com/dv9bpfme2/image/upload/v1479427205/bms-about-1.jpg');">
</div>
<div class="banner hidden"	style="background-image: url('http://res.cloudinary.com/dv9bpfme2/image/upload/v1480586229/bms-about-3_kq8hko.jpg');">
</div>
<div id="about-main-image">
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1480586272/bms-about-2_nitknn.jpg", class: "active ") %>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479427205/bms-about-1.jpg") %>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1480586229/bms-about-3_kq8hko.jpg") %>
</div>

<div class="about-wrapper">
	<div class="container pullDown text-center about-content">
		<div class="about-title">
			<div class="title-line-left"></div>
				<h4>ABOUT US</h4>
			<div class="title-line-right"></div>
		</div>
		<div class="about-para">
			<p>With 35 years’ combined experience in the metalworks industry, Bespoke Metal Studio continues to design and create beautifully handcrafted metalworks for a variety of very satisfied clients. From lighting, handles and furniture, to fittings such as wardrobes, units and doors, we take inspiration from both antique and modern designs to offer our clients exquisite products tailor-made to their specifications and requirements.
			<br></br>
			We pride ourselves on our extensive expertise and experience, top quality craftsmanship and high level of customer care, providing a complete service from design through to installations on site. We combine excellence in both product and service and continue to build the business around our clients and their individual needs – no job is too complex nor too small and we aim to deliver exactly as promised within the desired time-frame.
			</p> 
		</div>
		<div class="about-image text-center">
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
		</div>
		<div class="about-para">
			<p>Bespoke Metal Studio helps to turn your inspiration into a reality. Our depth of skills and experience, breadth of craftsmanship (in-house and via valued suppliers) and quality of materials allows us to consistently provide an exceptional service to our clients.
			<br></br>We value each relationship and believe communication is key to delivering the best results, therefore we pledge to keep you up-to-date at all times on your order’s progress. We never over-promise and always aim to stick to our mantra “on time and on budget”. We are constantly improving our skills, materials and systems to continue to create exciting, unique and luxurious new designs with uncompromising quality.

			</p>
		</div>
	</div>
</div>


