<%= render 'shared/navbar_homepage' %>

<div class="homepage-banner" style="background-image: url('http://res.cloudinary.com/dv9bpfme2/image/upload/v1479304592/BMS_Product-28_gq6cba.jpg');">
</div>	
<div class="services-collage hidden">
	<div id="photos">
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479730682/BMS_services_small10_i60hyw.jpg") %>
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479725173/BMS_services_large2_twxdwt.jpg") %>
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479732922/BMS_services_small15_vtmynx.jpg") %>
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479733332/BMS_services_large3_fhs5ly.jpg") %>
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479726295/BMS_services_small7_rgcgga.jpg") %>
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479724166/d_chx3fv.jpg") %>
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479726707/BMS_services_small8_j6mwhh.jpg") %>
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479726016/BMS_services_small2_bi4lcw.jpg") %>
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479735137/BMS_services_large4_wb5v0y.jpg") %>			
	</div>
</div>

