<%= render 'shared/navbar_general' %>
<div class="container text-center">
	<div class="products-main text-center">
		<div class="products-title">
			<div class="title-line-left"></div>
			<h5>PRODUCTS</h5>
			<div class="title-line-right"></div>
		</div>
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479421137/Prod2_m75mh0.jpg") %>
		<p class="products-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, ut, dicta! Voluptatum ratione esse inventore, voluptas veritatis. Hic, dolor neque blanditiis, aspernatur harum.</p>
	</div>
</div>
<div class="products-sub-section text-center">
	<div class="products-sub-header">
		<div class="small-line-left"></div>
		<h6> BESPOKE LIGHTING </h6>
		<div class="small-line-right"></div>
	</div>
	<div class="products-sub-images">
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479203744/BespokeMetalStudioLights6.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479150481/BespokeMetalStudioChandelier.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479150517/BespokeMetalStudioLights2.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479203490/BespokeMetalStudioLights1.jpg") %></div>
	</div>
	<div class="products-sub-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus labore, reiciendis quisquam nisi inventore vitae? Nostrum sit ratione saepe cum. Ab incidunt hic dolorum perferendis quia magnam tempore voluptatem ea.</p>
	</div>
</div>

<div class="products-sub-section text-center">
	<div class="products-sub-header">
		<div class="small-line-left"></div>
		<h6>BMS LIGHTING RANGE</h6>
		<div class="small-line-right"></div>
	</div>
	<div class="products-sub-images">
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479292087/BespokeMetalStudioLights3.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479205225/BespokeMetalStudioLights7.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479150464/BespokeMetalStudioLights4.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479206621/BespokeMetalStudioChandelier3.jpg") %></div>
	</div>
	<div class="products-sub-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus labore, reiciendis quisquam nisi inventore vitae? Nostrum sit ratione saepe cum. Ab incidunt hic dolorum perferendis quia magnam tempore voluptatem ea.</p>
	</div>
</div>
<div class="products-sub-section text-center">
	<div class="products-sub-header">
		<div class="small-line-left-two"></div>
		<h6> HANDLES </h6>
		<div class="small-line-right-two"></div>
	</div>
	<div class="products-sub-images">
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479227046/BespokeMetalStudioHandles4.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479209865/BespokeMetalStudioHandles1.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479224636/BespokeMetalStudioHandles2.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479229662/BespokeMetalStudioHandles5.jpg") %></div>
	</div>
	<div class="products-sub-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus labore, reiciendis quisquam nisi inventore vitae? Nostrum sit ratione saepe cum. Ab incidunt hic dolorum perferendis quia magnam tempore voluptatem ea.</p>
	</div>
</div>

<div class="products-sub-section text-center">
	<div class="products-sub-header">
		<div class="small-line-left-two"></div>
		<h6> FITTINGS </h6>
		<div class="small-line-right-two"></div>
	</div>
	<div class="products-sub-images">
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479290573/BespokeMetalStudioFittings2.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479288569/BespokeMetalStudioFittings.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479290075/BespokeMetalStudioFittings4.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479289996/BespokeMetalStudioFittings3.jpg") %></div>
	</div>
	<div class="products-sub-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus labore, reiciendis quisquam nisi inventore vitae? Nostrum sit ratione saepe cum. Ab incidunt hic dolorum perferendis quia magnam tempore voluptatem ea.</p>
	</div>
</div>

<div class="products-sub-section text-center">
	<div class="products-sub-header">
		<div class="small-line-left-two"></div>
		<h6> FURNITURE </h6>
		<div class="small-line-right-two"></div>
	</div>
	<div class="products-sub-images">
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479293189/BespokeMetalFurniture4.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479292051/BespokeMetalStudioFurniture2.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479292035/BespokeMetalStudioFurniture.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479292046/BespokeMetalStudioFurniture3.jpg") %></div>
	</div>
	<div class="products-sub-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus labore, reiciendis quisquam nisi inventore vitae? Nostrum sit ratione saepe cum. Ab incidunt hic dolorum perferendis quia magnam tempore voluptatem ea.</p>
	</div>
</div>

<%= render 'shared/footer' %>

