<%= render 'shared/navbar_general' %>

<div class="container text-center">
	<div class="products-main text-center">
		<div class="products-title">
			<div class="title-line-left"></div>
			<h4>PRODUCTS</h4>
			<div class="title-line-right"></div>
		</div>
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479424166/bms-products-1.jpg", class: "hidden") %>
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1480590261/bms-products2.jpg") %>
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1480590261/bms-products3.jpg", class: "hidden") %>
		<p class="products-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, ut, dicta! Voluptatum ratione esse inventore, voluptas veritatis. Hic, dolor neque blanditiis, aspernatur harum.</p>
	</div>
</div>
<div class="products-sub-section text-center">
	<div class="products-sub-header">
		<div class="small-line-left"></div>
		<h6>BESPOKE LIGHTIHG</h6>
		<div class="small-line-right"></div>
	</div>
	<div class="products-sub-images">
		<div class="products-sub-image products-sub-image-1"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1480589413/BespokeMetalStudioLights1.jpg") %></div>
		<div class="products-sub-image products-sub-image-2"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1480589824/BespokeMetalStudioLights-2.jpg") %></div>
		<div class="products-sub-image products-sub-image-3"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1480589410/BespokeMetalStudioLights3.jpg") %></div>
	</div>
	<div class="products-sub-para">
		<p>Exquisite individual lights are all handcrafted and finished using traditional finishing techniques. Contemporary and stylish selection of lights in a variety of finishes like black chrome, dark bronze, nickel, polished brass.</p>
	</div>
</div>
<div class="products-sub-section text-center">
	<div class="products-sub-header">
		<div class="small-line-left-two"></div>
		<h6> HANDLES </h6>
		<div class="small-line-right-two"></div>
	</div>
	<div class="products-sub-images">
		<div class="products-sub-image products-sub-image-1"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479227046/BespokeMetalStudioHandles4.jpg") %></div>
		<div class="products-sub-image products-sub-image-2"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1480588822/BespokeMetalStudioHandles1.jpg") %></div>
		<div class="products-sub-image products-sub-image-3"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479209865/BespokeMetalStudioHandles1.jpg") %></div>
	</div>
	<div class="products-sub-para">
		<p>All these bespoke handles are original and unique items made to order.</p>
	</div>
</div>

<div class="products-sub-section text-center">
	<div class="products-sub-header">
		<div class="small-line-left-two"></div>
		<h6> FITTINGS </h6>
		<div class="small-line-right-two"></div>
	</div>
	<div class="products-sub-images">
		<div class="products-sub-image products-sub-image-1"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479290573/BespokeMetalStudioFittings2.jpg") %></div>
		<div class="products-sub-image products-sub-image-2"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1480587357/BespokeMetalStudioFittings.jpg") %></div>
		<div class="products-sub-image products-sub-image-3"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479290075/BespokeMetalStudioFittings4.jpg") %></div>
	</div>
	<div class="products-sub-para">
		<p>Deluxe brass decorative interior elements in various finishes – antique bronze, dark bronze, antique silver and black nickel.</p>
	</div>
</div>

<div class="products-sub-section text-center">
	<div class="products-sub-header">
		<div class="small-line-left-two"></div>
		<h6> FURNITURE </h6>
		<div class="small-line-right-two"></div>
	</div>
	<div class="products-sub-images">
		<div class="products-sub-image products-sub-image-1"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1480588454/BespokeMetalStudioFurniture2.jpg") %></div>
		<div class="products-sub-image products-sub-image-2"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479292035/BespokeMetalStudioFurniture.jpg") %></div>
		<div class="products-sub-image products-sub-image-3"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1480587802/Furniture2_rpskzn.jpg") %></div>
	</div>
	<div class="products-sub-para">
		<p>Original style and minimalism.</p>
	</div>
</div>

