<%= render 'shared/navbar_general' %>
<div class="main-wrapper">
	<div class="container text-center">
		<div class="products-title">
			<h2>PRODUCTS</h2>
		</div>
		<div class="products-image text-center">
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %>
		</div>
		<div class="products-first-para">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit totam dignissimos, saepe, vel facere reiciendis expedita vitae vero numquam nulla ut iste nisi illo libero. Sed itaque, atque aperiam voluptatem!
		</div>
	</div>
	<div class="products-sub-section text-center">
		<div class="products-sub-header">
			<h4>BESPOKE LIGHTING</h4>
		</div>
		<div class="products-sub-images">
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		</div>
		<div class="products-sub-para">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus labore, reiciendis quisquam nisi inventore vitae? Nostrum sit ratione saepe cum. Ab incidunt hic dolorum perferendis quia magnam tempore voluptatem ea.</p>
		</div>
	</div>

	<div class="products-sub-section text-center">
		<div class="products-sub-header">
			<h4>BMS LIGHTING RANGE</h4>
		</div>
		<div class="products-sub-images">
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		</div>
		<div class="products-sub-para">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus labore, reiciendis quisquam nisi inventore vitae? Nostrum sit ratione saepe cum. Ab incidunt hic dolorum perferendis quia magnam tempore voluptatem ea.</p>
		</div>
	</div>

	<div class="products-sub-section text-center">
		<div class="products-sub-header">
			<h4>HANDLES</h4>
		</div>
		<div class="products-sub-images">
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		</div>
		<div class="products-sub-para">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus labore, reiciendis quisquam nisi inventore vitae? Nostrum sit ratione saepe cum. Ab incidunt hic dolorum perferendis quia magnam tempore voluptatem ea.</p>
		</div>
	</div>

	<div class="products-sub-section text-center">
		<div class="products-sub-header">
			<h4>FITTINGS</h4>
		</div>
		<div class="products-sub-images">
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		</div>
		<div class="products-sub-para">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus labore, reiciendis quisquam nisi inventore vitae? Nostrum sit ratione saepe cum. Ab incidunt hic dolorum perferendis quia magnam tempore voluptatem ea.</p>
		</div>
	</div>

	<div class="products-sub-section text-center">
		<div class="products-sub-header">
			<h4>FURNITURE</h4>
		</div>
		<div class="products-sub-images">
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
			<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		</div>
		<div class="products-sub-para">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus labore, reiciendis quisquam nisi inventore vitae? Nostrum sit ratione saepe cum. Ab incidunt hic dolorum perferendis quia magnam tempore voluptatem ea.</p>
		</div>
	</div>
</div>

