<%= render 'shared/navbar_general' %>
<div class="container text-center">
	<div class="top-title">
		<h3>PRODUCTS</h3>
	</div>
	<div class="products-image text-center">
		<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478887289/BMS_Products_xo2sfv.jpg") %>
	</div>
	<div class="products-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit totam dignissimos, saepe, vel facere reiciendis expedita vitae vero numquam nulla ut iste nisi illo libero. Sed itaque, atque aperiam voluptatem!
	</div>
</div>

<div class="products-sub-section text-center">
	<div class="products-sub-header">
		<h4><span>&mdash;</span> BESPOKE LIGHTING <span>&mdash;</span></h4>
	</div>
	<div class="products-sub-images">
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
	</div>
	<div class="products-sub-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus labore, reiciendis quisquam nisi inventore vitae? Nostrum sit ratione saepe cum. Ab incidunt hic dolorum perferendis quia magnam tempore voluptatem ea.</p>
	</div>
</div>

<div class="products-sub-section text-center">
	<div class="products-sub-header">
		<h4><span>&mdash;</span> BMS LIGHTING RANGE <span>&mdash;</span></h4>
	</div>
	<div class="products-sub-images">
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
	</div>
	<div class="products-sub-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus labore, reiciendis quisquam nisi inventore vitae? Nostrum sit ratione saepe cum. Ab incidunt hic dolorum perferendis quia magnam tempore voluptatem ea.</p>
	</div>
</div>

<div class="products-sub-section text-center">
	<div class="products-sub-header">
		<h4><span>&mdash;</span> HANDLES <span>&mdash;</span></h4>
	</div>
	<div class="products-sub-images">
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
	</div>
	<div class="products-sub-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus labore, reiciendis quisquam nisi inventore vitae? Nostrum sit ratione saepe cum. Ab incidunt hic dolorum perferendis quia magnam tempore voluptatem ea.</p>
	</div>
</div>

<div class="products-sub-section text-center">
	<div class="products-sub-header">
		<h4><span>&mdash;</span> FITTINGS <span>&mdash;</span></h4>
	</div>
	<div class="products-sub-images">
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
	</div>
	<div class="products-sub-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus labore, reiciendis quisquam nisi inventore vitae? Nostrum sit ratione saepe cum. Ab incidunt hic dolorum perferendis quia magnam tempore voluptatem ea.</p>
	</div>
</div>

<div class="products-sub-section text-center">
	<div class="products-sub-header">
		<h4><span>&mdash;</span> FURNITURE <span>&mdash;</span></h4>
	</div>
	<div class="products-sub-images">
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
		<div class="products-sub-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478689001/BMS_about_nrxeyr.jpg") %></div>
	</div>
	<div class="products-sub-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus labore, reiciendis quisquam nisi inventore vitae? Nostrum sit ratione saepe cum. Ab incidunt hic dolorum perferendis quia magnam tempore voluptatem ea.</p>
	</div>
</div>
<%= render 'shared/footer' %>

