<%= render 'shared/navbar_general' %>

<div class="container">
	<div class="top-title text-center">
		<div class="title-line-left"></div>
			<h4>SERVICES</h4>
		<div class="title-line-right"></div>
	</div>
	<div class=" container services-list">
		<div class="row">
			<div class="col-sm-6 services-list-left">
				<h5><span>&mdash;</span> METAL FINISHING</h5>
				<h5><span>&mdash;</span> INSTALLATIONS</h5>
				<h5><span>&mdash;</span> RE/WIRING & UK CONVERSION</h5>
			</div>
			<div class="col-sm-6 services-list-right">
				<h5><span>&mdash;</span> RESTORATION</h5>
				<h5><span>&mdash;</span> LIGHTING CONSULTANCY</h5>
			</div>
		</div>
	</div>
	<div class="services-images">
		<div id="photos">
			
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479730682/BMS_services_small10_i60hyw.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479725173/BMS_services_large2_twxdwt.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479726707/BMS_services_small8_j6mwhh.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479733332/BMS_services_large3_fhs5ly.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479726295/BMS_services_small7_rgcgga.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479724166/d_chx3fv.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479732922/BMS_services_small15_vtmynx.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479726016/BMS_services_small2_bi4lcw.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479735137/BMS_services_large4_wb5v0y.jpg") %>			
			

		</div>
	</div>
</div>
<%= render 'shared/footer' %>

