<%= render 'shared/navbar_general' %>

<div class="services-stuck">
	<div class="top-title text-center">
		<div class="title-line-left"></div>
			<h4>SERVICES</h4>
		<div class="title-line-right"></div>
	</div>
	<div class="container services-list">
		<div class="row services-list-links">
			<div class="col-sm-6">
				<p><span>&mdash;&nbsp;</span><%= link_to " TAILORING YOUR PROJECT", services_path(:anchor => "tailoring"), class: "services-list-link" %></p>
				<p><span>&mdash;&nbsp;</span><%= link_to " PRODUCT DESIGN AND DEVELOPMENT", services_path(:anchor => "product-design"), class: "services-list-link" %></p>
				<p><span>&mdash;&nbsp;</span><%= link_to " THE PRODUCTION PROCESS", services_path(:anchor => "production-process"), class: "services-list-link" %></p>
				</div>
			<div class="col-sm-6 services-list-right">
				<p><span>&mdash;&nbsp;</span><%= link_to " MATERIALS", services_path(:anchor => "materials"), class: "services-list-link" %></p>
				<p><span>&mdash;&nbsp;</span><%= link_to " FINISHES", services_path(:anchor => "finishes"), class: "services-list-link" %></p>
				<p><span>&mdash;&nbsp;</span><%= link_to " ELECTRICAL SERVICES ", services_path(:anchor => "electrical-services"), class: "services-list-link" %></p>
			</div>
		</div>
	</div>
</div>
<div class="services-list-two pullUp hidden">
	<p><%= link_to " TAILORING YOUR PROJECT", services_path(:anchor => "tailoring"), class: "services-list-link" %></p>
	<span>&mdash;&nbsp;</span>
	<p><%= link_to " PRODUCT DESIGN AND DEVELOPMENT", services_path(:anchor => "product-design"), class: "services-list-link" %></p>
	<span>&mdash;&nbsp;</span>
	<p><%= link_to " THE PRODUCTION PROCESS", services_path(:anchor => "production-process"), class: "services-list-link" %></p>
	<span>&mdash;&nbsp;</span>
	<p><%= link_to " MATERIALS", services_path(:anchor => "materials"), class: "services-list-link" %></p>
	<span>&mdash;&nbsp;</span>
	<p><%= link_to " FINISHES", services_path(:anchor => "finishes"), class: "services-list-link" %></p>
	<span>&mdash;&nbsp;</span>
	<p><%= link_to " ELECTRICAL SERVICES ", services_path(:anchor => "electrical-services"), class: "services-list-link" %></p>
</div>
<div class="services-main container services-top-section text-center" id="tailoring">
	<div class="services-subtitle">
		<div class="small-line-left"></div>
			<h5>TAILORING YOUR PROJECT</h5>
		<div class="small-line-right"></div>
	</div>
	<div class="services-para">
		<p>Our design team work together with the manufacturing team to adapt the design to your requirements, considering budget and time scale, always keeping our standards of quality. With more than 35 years of experience within the bespoke lighting manufacturing between the three members of the design, we love collaborating in your projects and taking new challenges. From unique chandeliers to our range of handles, regardless of size, shape, materials involved or metal finish, we can use our know-how to accomplish your requirements and exceed your expectations.</p> 
	</div>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
</div>
<div class="services-main container text-center" id="product-design">
	<div class="services-subtitle">
		<div class="small-line-left"></div>
			<h5>PRODUCT DESIGN AND DEVELOPMENT</h5>
		<div class="small-line-right"></div>
	</div>
	<div class="services-para">
		<p>We offer to liaise with you in your project from the conception of the product to the completion, advising on materials, light fittings, fixing methods, assembling solutions or maintenance. We use a 3D designing software to present high definition renders and technical drawings for your approval prior manufacturing.</p> 
	</div>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
</div>
<div class="services-main container text-center" id="production-process">
	<div class="services-subtitle">
		<div class="small-line-left"></div>
			<h5>THE PRODUCTION PROCESS</h5>
		<div class="small-line-right"></div>
	</div>
	<div class="services-para">
		<p>Having the main manufacturing processes made in house give us the opportunity to have a tight control over time, cost and quality. This is very important for us, and we understand that is also be very important for you, that’s why we want to keep you updated with progress and have you involved in the production with regular informs and images of the process. We have been working with the majority of our current suppliers for more than 5 years and they share our understanding of the business in terms of quality and compromise to a deadline. We like to keep them local to have a better control of the process and have our product totally manufactured in UK.</p> 
	</div>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
</div>
<div class="services-main container text-center" id="materials">
	<div class="services-subtitle">
		<div class="small-line-left"></div>
			<h5>MATERIALS</h5>
		<div class="small-line-right"></div>
	</div>
	<div class="services-para">
		<p>Bespoke Metal Studio is specialized in metal work and therefore we are keen to take any light project that has metal involved in the design. Brass, steel, stainless steel, aluminium or copper. We also work with stone, glass, fabrics and other exotic materials that can be applied to our designs as decorative inlays or for light shades or diffusers.</p> 
	</div>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
</div>
<div class="services-main container text-center" id="finishes">
	<div class="services-subtitle">
		<div class="small-line-left"></div>
			<h5>FINISHES</h5>
		<div class="small-line-right"></div>
	</div>
	<div class="services-para">
		<p>Our range of metal finishes made in house includes satin brass, polished brass, antique bronze, mid bronze, dark bronze, polished stainless steel, polished copper. We also offer nickel plating, powder coating, any RAL code painting and lacquered finishes. Our glass suppliers offer different textures, colours and effects, as well as clear or frosted finishes. We are happy to take your finish sample and match it, creating some samples for your approval prior finishing. We can provide light shades when required, they are made in London and can have the fabric free issued by you or we can match your fabric samples, whatever works better for you.</p> 
	</div>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
</div>
<div class="services-main container text-center" id="delivery-installation">
	<div class="services-subtitle">
		<div class="small-line-left"></div>
			<h5>DELIVERY & INSTALLATION</h5>
		<div class="small-line-right"></div>
	</div>
	<div class="services-para">
		<p>We adapt to your requirements regarding delivery and installation. We like to liaise with the site manager and the electrician team on site to ensure all requirements are fulfilled, and provide technical specs and installation and maintenance instructions. We can either arrange the packaging and the delivery for you Worldwide. Or deliver the products in our vehicles to your door if the project is in London. Or do a full service and include the installation within the package: Making a visit to site prior installation to ensure access is feasible, check fixing fittings in ceilings and wall and plan the installation properly, our installation team will go to site provided with all necessary tools and working platforms and make installation.</p> 
	</div>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
</div>
<div class="services-main container text-center" id="maintenance">
	<div class="services-subtitle">
		<div class="small-line-left"></div>
			<h5>ON-SITE MAINTENANCE SERVICE</h5>
		<div class="small-line-right"></div>
	</div>
	<div class="services-para">
		<p>We are very aware of how difficult is to have some of your pieces properly cleaned when both glass and metal are involved. Sometimes even the electrical fittings need a revision and substitution. Whether Bespoke Metal Studio has installed your fittings or not, we can take care or maintenance of chandeliers and light fittings, electrical fittings or metal finishes.</p> 
	</div>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
</div>
<div class="services-main container text-center" id="electrical-services">
	<div class="services-subtitle">
		<div class="small-line-left"></div>
			<h5>ELECTRICAL SERVICES: <br>            REWIRING, PAT TESTING & UK CONVERSION</h5>
		<div class="small-line-right"></div>
	</div>
	<div class="services-para">
		<p>We do in-house electrical services to give you the chance of keeping those fittings you had and need some maintenance or the fittings have been bought in USA and need conversion to UK standards. Our stock of electrical components allows us to have a rapid response and have lead times that will adapt to your requirements.</p> 
	</div>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
</div>





