<%= render 'shared/navbar_general' %>

<div class="container text-center">
	<div class="top-title">
		<div class="title-line-left"></div>
			<h3>SERVICES</h3>
		<div class="title-line-right"></div>
	</div>
	<div class="services-list">
		<div class="row">
			<div class="col-sm-6 services-list-left">
				<h5><span>&mdash;</span> METAL FINISHING</h5>
				<h5><span>&mdash;</span> INSTALLATIONS</h5>
				<h5><span>&mdash;</span> LIGHTING CONSULTANCY</h5>
			</div>
			<div class="col-sm-6 services-list-right">
				<h5><span>&mdash;</span> RESTORATION</h5>
				<h5><span>&mdash;</span> RE/WIRING & UK CONVERSION</h5>
			</div>
		</div>
	</div>
	<div class="services-images">
		<div id="photos">
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479463353/services1_ykv5ts.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479209865/BespokeMetalStudioHandles1.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479224636/BespokeMetalStudioHandles2.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479227046/BespokeMetalStudioHandles4.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479209865/BespokeMetalStudioHandles1.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479209865/BespokeMetalStudioHandles1.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479224636/BespokeMetalStudioHandles2.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479224636/BespokeMetalStudioHandles2.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479463353/services1_ykv5ts.jpg") %>
			<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479229662/BespokeMetalStudioHandles5.jpg") %>
		</div>
	</div>
</div>
<%= render 'shared/footer' %>

