<%= render 'shared/navbar_general' %>

<div class="container">
	<div class="top-title text-center">
		<div class="title-line-left"></div>
			<h4>SERVICES</h4>
		<div class="title-line-right"></div>
	</div>
	<div class="container services-list">
		<div class="row">
			<div class="col-sm-6 services-list-left">
				<h6><span>&mdash;</span> METAL FINISHING</h6>
				<h6><span>&mdash;</span> INSTALLATIONS</h6>
				<h6><span>&mdash;</span> RE/WIRING & UK CONVERSION</h6>
			</div>
			<div class="col-sm-6 services-list-right">
				<h6><span>&mdash;</span> RESTORATION</h6>
				<h6><span>&mdash;</span> LIGHTING CONSULTANCY</h6>
			</div>	
		</div>
	</div>
</div>
<div class="services-triple-photos">
</div>
<div class="services-main container text-center">
	<div class="services-subtitle">
		<div class="small-line-left"></div>
			<h5>TAILORING YOUR PROJECT</h5>
		<div class="small-line-right"></div>
	</div>
	<div class="services-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit totam dignissimos, saepe, vel facere reiciendis expedita vitae vero numquam nulla ut iste nisi illo libero. Sed itaque, atque aperiam voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, voluptatum officiis ducimus non suscipit quo debitis ab, vitae a dolor, nobis totam dignissimos nemo neque error possimus, architecto cupiditate voluptates.</p> 
	</div>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
</div>
<div class="services-main container text-center">
	<div class="services-subtitle">
		<div class="small-line-left"></div>
			<h5>PRODUCT DESIGN AND DEVELOPMENT</h5>
		<div class="small-line-right"></div>
	</div>
	<div class="services-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit totam dignissimos, saepe, vel facere reiciendis expedita vitae vero numquam nulla ut iste nisi illo libero. Sed itaque, atque aperiam voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, voluptatum officiis ducimus non suscipit quo debitis ab, vitae a dolor, nobis totam dignissimos nemo neque error possimus, architecto cupiditate voluptates.</p> 
	</div>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
</div>
<div class="services-main container text-center">
	<div class="services-subtitle">
		<div class="small-line-left"></div>
			<h5>THE PRODUCTION PROCESS</h5>
		<div class="small-line-right"></div>
	</div>
	<div class="services-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit totam dignissimos, saepe, vel facere reiciendis expedita vitae vero numquam nulla ut iste nisi illo libero. Sed itaque, atque aperiam voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, voluptatum officiis ducimus non suscipit quo debitis ab, vitae a dolor, nobis totam dignissimos nemo neque error possimus, architecto cupiditate voluptates.</p> 
	</div>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
</div>
<div class="services-main container text-center">
	<div class="services-subtitle">
		<div class="small-line-left"></div>
			<h5>MATERIALS</h5>
		<div class="small-line-right"></div>
	</div>
	<div class="services-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit totam dignissimos, saepe, vel facere reiciendis expedita vitae vero numquam nulla ut iste nisi illo libero. Sed itaque, atque aperiam voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, voluptatum officiis ducimus non suscipit quo debitis ab, vitae a dolor, nobis totam dignissimos nemo neque error possimus, architecto cupiditate voluptates.</p> 
	</div>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
</div>
<div class="services-main container text-center">
	<div class="services-subtitle">
		<div class="small-line-left"></div>
			<h5>FINISHES</h5>
		<div class="small-line-right"></div>
	</div>
	<div class="services-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit totam dignissimos, saepe, vel facere reiciendis expedita vitae vero numquam nulla ut iste nisi illo libero. Sed itaque, atque aperiam voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, voluptatum officiis ducimus non suscipit quo debitis ab, vitae a dolor, nobis totam dignissimos nemo neque error possimus, architecto cupiditate voluptates.</p> 
	</div>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
</div>
<div class="services-main container text-center">
	<div class="services-subtitle">
		<div class="small-line-left"></div>
			<h5>DELIVERY & INSTALLATION</h5>
		<div class="small-line-right"></div>
	</div>
	<div class="services-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit totam dignissimos, saepe, vel facere reiciendis expedita vitae vero numquam nulla ut iste nisi illo libero. Sed itaque, atque aperiam voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, voluptatum officiis ducimus non suscipit quo debitis ab, vitae a dolor, nobis totam dignissimos nemo neque error possimus, architecto cupiditate voluptates.</p> 
	</div>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
</div>
<div class="services-main container text-center">
	<div class="services-subtitle">
		<div class="small-line-left"></div>
			<h5>ON-SITE MAINTENANCE SERVICE</h5>
		<div class="small-line-right"></div>
	</div>
	<div class="services-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit totam dignissimos, saepe, vel facere reiciendis expedita vitae vero numquam nulla ut iste nisi illo libero. Sed itaque, atque aperiam voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, voluptatum officiis ducimus non suscipit quo debitis ab, vitae a dolor, nobis totam dignissimos nemo neque error possimus, architecto cupiditate voluptates.</p> 
	</div>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
</div>
<div class="services-main container text-center">
	<div class="services-subtitle">
		<div class="small-line-left"></div>
			<h5>ELECTRICAL SERVICES: <br>            REWIRING, PAT TESTING & UK CONVERSION</h5>
		<div class="small-line-right"></div>
	</div>
	<div class="services-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit totam dignissimos, saepe, vel facere reiciendis expedita vitae vero numquam nulla ut iste nisi illo libero. Sed itaque, atque aperiam voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, voluptatum officiis ducimus non suscipit quo debitis ab, vitae a dolor, nobis totam dignissimos nemo neque error possimus, architecto cupiditate voluptates.</p> 
	</div>
	<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1479423769/about1_dzzuqz.jpg") %>
</div>

<%= render 'shared/footer' %>

