<%= render 'shared/navbar_general' %>
<div class="center">
	<div class="container">
		<div class="team-title text-center pullDown">
			<h3>THE TEAM</h3>
		</div>
		<div class="team-images container">
			<div class="team-member">
				<div class="team-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1487957782/BespokeMetalStudioPrez.jpg") %>
				</div>
				<div class="team-content">
					<h5>PREZ</h5>
					<h6>FOUNDER</h6>
					<p>As Bespoke Metal Studio’s founder and chief designer, Prez is responsible for the smooth running of the business. He set up the company with the sole purpose to provide all of these services in the most efficient and effective way possible. He continuously ensures client expectations are met and his attention to detail is unparalleled.</p>
				</div>
			</div>
			<div class="team-member">
				<div class="team-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1531865947/MARIUSZ_1_zachci.jpg") %>
				</div>
				<div class="team-content">
					<h5>MARIUSZ</h5>
					<h6>COMPANY DIRECTOR / HEAD OF DESIGN</h6>
					<p>Mariusz is responsible for all aspects of the production of the final end product ensuring that design and creative projects are delivered on time and to budget.</p>
					<br></br>
				</div>
			</div>
			<div class="team-member">
				<div class="team-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1531904616/BespokeMetalStudio_nbebis.jpg") %>
				</div>
				<div class="team-content">
					<h5>RAFF</h5>
					<h6>WORKSHOP MANAGER</h6>
					<p>As Workshop Manager, Raff is responsible for the day-to-day running of the workshop, which not only entails managing the team and overseeing ongoing projects, he also creates many of the beautiful products we offer.</p>
					<br></br>
					<br>
				</div>
			</div>
		</div>
		<div class="team-images container">
			<div class="team-member">
				<div class="team-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1487958021/BespokeMetalStudioAgy.jpg") %>
				</div>
				<div class="team-content">
					<h5>AGY</h5>
					<h6>FINANCIAL CONTROLLER</h6>
					<p>Agy manages the company’s financial matters. She is responsible for the company accounts, invoicing our clients and paying our suppliers as well as the upkeep of management information.</p>
					<br></br>
					<br></br>
				</div>
			</div>
			<div class="team-member">
				<div class="team-image">
					<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1531865947/ARTUR_1_y5mfmw.jpg") %>
				</div>
				<div class="team-content">
					<h5>ARTUR</h5>
					<h6>OFFICE ASSISTANT / PROJECT MANAGER</h6>
					<p>Artur works directly with Clients to ensure deliverables fall within the applicable scope and budget. He coordinates with other departments to ensure all aspects of each project are compatible and fulfil Client’s needs.</p>
				</div>
				<br></br>
			</div>
		</div>
	</div>
</div>
<div class="team-banner"	style="background-image: url('http://res.cloudinary.com/dv9bpfme2/image/upload/v1479422690/Team1_a0byb9.jpg');">
</div>
