<%= render 'shared/navbar_general' %>

<div class="container team">
	<div class="top-title text-center">
		<div class="title-line-left"></div>
			<h3>THE TEAM</h3>
		<div class="title-line-right"></div>
	</div>
	<div class="container">
		<div class="team-images">
			<div class="team-member">
				<div class="team-image" id="team">
				<%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478888667/BMS_Workshop-team_qubbzq.jpg") %>
				</div>
				<div class="team-content">
					<h4>PREZ</h4>
					<h5>FOUNDER</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore beatae totam, quidem, nostrum sint reiciendis laudantium eius nobis facere iure autem sunt velit excepturi facilis, nisi blanditiis dolorum molestias quibusdam!</p>
				</div>
			</div>
			<div class="team-member">
				<div class="team-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478888667/BMS_Workshop-team_qubbzq.jpg") %>
				</div>
				<div class="team-content">
					<h4>PREZ</h4>
					<h5>FOUNDER</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore beatae totam, quidem, nostrum sint reiciendis laudantium eius nobis facere iure autem sunt velit excepturi facilis, nisi blanditiis dolorum molestias quibusdam!</p>
				</div>
			</div>
			<div class="team-member">
				<div class="team-image"><%= image_tag("http://res.cloudinary.com/dv9bpfme2/image/upload/v1478888667/BMS_Workshop-team_qubbzq.jpg") %>
				</div>
				<div class="team-content">
					<h4>PREZ</h4>
					<h5>FOUNDER</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore beatae totam, quidem, nostrum sint reiciendis laudantium eius nobis facere iure autem sunt velit excepturi facilis, nisi blanditiis dolorum molestias quibusdam!</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="banner team-banner"	style="background-image: url('http://res.cloudinary.com/dv9bpfme2/image/upload/v1479422690/Team1_a0byb9.jpg');">
</div>
<%= render 'shared/footer' %>